.forms{
   
    
    background-color:brown;
    position: relative;
}
.input_forms{
    height: 20px;
    width: 100px;
    align-self: center;
    justify-content: center;


}
form{
    display: flex;
    flex-direction: column;
}